body {
  font-family: "Poppins", sans-serif;
  background: rgb(6, 31, 31);
}
.container {
  width: 400px;
  padding: 7px;
  background-color: white;
  color: black;
  margin-top: 5rem;
  height: 350px;
}
input {
  width: 270px;
  padding: 8px;
  border: 2px solid rgb(6, 145, 145);
  outline: none;
  font-size: 18px;
}
button {
  width: 60px;
  height: 41px;
  background-color: rgb(4, 29, 29);
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  font-size: 19px;
}
.list ul {
  position: relative;
  background-color: rgb(5, 31, 31);
  color: white;
  font-size: 22px;
  padding: 7px;
  text-align: left;
}
.list ul i{
  position: absolute;
  right: 10px;
  cursor: pointer;
}
